---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "bootstrap";
/* path to glyphicons */
$icon-font-path: "/node_modules/bootstrap-sass/assets/fonts/bootstrap/";

/* custom variable */
$body-bg: white;
$title-size: 35px;
$text-color: black;
$text-size: 23px;
$font-stack: 'Avenir Next', 'Roboto', sans-serif;
$corner-radius: 30px;
/* Begin Bootstrap Variables*/
$grid-breakpoints: (
  /*// Extra small screen / phone*/
  xs: 0,
  /*// Small screen / phone*/
  sm: 544px,
  /*// Medium screen / tablet*/
  md: 768px,
  /*// Large screen / desktop*/
  lg: 992px,
  /*// Extra large screen / wide desktop*/
  xl: 1200px
);
$grid-columns:      12;
$grid-gutter-width: 1.875rem;
/* End Bootstrap Variables*/
/* Begin Bootstrap Mixins*/
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix();
}

/*// Make the element grid-ready (applying everything but the width)*/
@mixin make-col($gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

/*// Set a width (to be used in or out of media queries)*/
@mixin make-col-span($columns) {
  width: percentage(($columns / $grid-columns));
}

// Get fancy by offsetting, or changing the sort order
@mixin make-col-offset($columns) {
  margin-left: percentage(($columns / $grid-columns));
}
@mixin make-col-push($columns) {
  left: percentage(($columns / $grid-columns));
}
@mixin make-col-pull($columns) {
  right: percentage(($columns / $grid-columns));
}
/* End Bootstrap Mixins*/

a, :link, :visited{
	color: $text-color;
}

body{
  font-family: $font-stack;
  background-color: $body-bg;
  color: black;
  list-style: none;
  padding: 0px;
  font-size: $text-size;

}

.navbar-default {
    background-color: $body-bg;
    border-color: $body-bg;
}

ul {
    list-style: none;
}
.navbar-collapse{
	background: $body-bg;
	color: $text-color;
}
.icon{
  max-height: 250px;
}
img{


}
.site-title{
  font-size: $title-size;
}
.parallax-window {
    min-height: 600px;
    background: transparent;
}
.container{
/*  padding-left: 50px;
  padding-right: 50px; */
}
/*.post-view{
   @media (max-width: 32em) {
    @include make-col-span(6);
  }
  @media (min-width: 32.1em) {
    @include make-col-span(8);
  }
}
*/
/* any style customization must be before the bootstrap import */
