---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/node_modules/bootstrap-sass/assets/fonts/bootstrap/";

/* custom variable */
$body-bg: white;
$text-color: black;
$font-stack: 'Roboto', sans-serif;
$corner-radius: 30px;

a, :link, :visited{
	color: $text-color;
}

body{
  font: 100% $font-stack;
  background-color: $body-bg;
  color: black;
  list-style: none;
  padding: 0px;

}

ul {
    list-style: none;
}
.navbar-collapse{
	background: $body-bg;
	color: $text-color;
}
.icon{
  max-height: 250px;
}
img{


}
.parallax-window {
    min-height: 600px;
    background: transparent;
}
.container{
  padding-left: 50px;
  padding-right: 50px; 
}
/* any style customization must be before the bootstrap import */
@import "bootstrap";