<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

          
    {% include header.html %}
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-1"></div>
                    
          <div class="col-md-3 page-content">
              <div class="wrapper">
                {{ content }}
              </div>
          </div>
          <!-- <div class="col-xs-1"></div> -->
          </div>
        {% include footer.html %}
      </div>
    </body>

</html>
